<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ 'weapon-detail.title' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onDismiss()" >{{ 'weapon-detail.close' | translate  }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()">
    <ion-item>
      <ion-label position="floating"  >
        {{ 'weapon-detail.name' | translate | titlecase }}
      </ion-label>
      <ion-input type="text" placeholder="Introduce el nombre" formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" >
        {{ 'weapon-detail.type' | translate | titlecase }}
      </ion-label>
      <ion-input type="text" placeholder="Introduce el tipo" formControlName="type"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" >
        {{ 'weapon-detail.damage' | translate  | titlecase}}
      </ion-label>
      <ion-input type="text" placeholder="Introduce el apodo" formControlName="damage"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" >
        {{ 'weapon-detail.accuracy' | translate | titlecase}}
      </ion-label>
      <ion-input type="text" placeholder="Introduce la precision" formControlName="accuracy"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" >
        {{ 'weapon-detail.range' | translate | titlecase}}
      </ion-label>
      <ion-input type="text" placeholder="Introduce el rango de disparo" formControlName="range"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" >
        {{ 'weapon-detail.cadence' | translate | titlecase}}
      </ion-label>
      <ion-input type="text" placeholder="Introduce la cadencia" formControlName="cadence"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" >
        {{ 'weapon-detail.mobility' | translate | titlecase}}
      </ion-label>
      <ion-input type="text" placeholder="Introduce la mobilidad" formControlName="mobility"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" >
        {{ 'weapon-detail.url' | translate }}
      </ion-label>
      <ion-input type="text" placeholder="Introduce la url de la imagen" formControlName="image"></ion-input>
    </ion-item>
    <app-sound-selectable formControlName="idSound"></app-sound-selectable>
    
    <ion-button color="success" [disabled]="!form.valid" type="submit">{{mode=="Edit"?['weapon-detail.btn_update' | translate]:['weapon-detail.btn_add' | translate]}}</ion-button>
  </form>
</ion-content>
