<ion-card>
  <ion-card-header>
      <img id="weapon" *ngIf="getWeapon()?.image" alt="Weapon picture" [src]="getWeapon().image" /><h1>+</h1>
      <img class="access" id="accessory" *ngIf="getAccessory()?.image" alt="Accessory picture" [src]="getAccessory().image" />
      <ion-card-subtitle>{{'constructions.damage' | translate }}:{{construction.damage}} /100</ion-card-subtitle>
      <ion-card-subtitle>{{ 'constructions.accuracy' | translate }}: {{construction.accuracy}}/100</ion-card-subtitle>
      <ion-card-subtitle>{{ 'constructions.range' | translate }}: {{construction.range}}/100</ion-card-subtitle>
      <ion-card-subtitle>{{ 'constructions.cadence' | translate }}: {{construction.cadence}}/100</ion-card-subtitle>
      <ion-card-subtitle>{{ 'constructions.mobility' | translate }}: {{construction.mobility}}/100</ion-card-subtitle>
    <ion-button icon-only fill="clear" (click)="onEditClick()"><ion-icon style="zoom:1.5" name="pencil-sharp"></ion-icon></ion-button>
    <ion-button icon-only fill="clear" color="danger" (click)="onDeleteClick()"><ion-icon style="zoom:1.5" name="close-sharp"></ion-icon></ion-button>
  </ion-card-header>
</ion-card>