img{
    border-radius: 10px;
    position:relative;
}

ion-card-title{
    color: rgb(252, 252, 252);
}

ion-card-subtitle{
    color: rgb(252, 252, 252);
}

::selection { 
    background: #3bbc08ed; 
    color:#fff;
}

.access{
    width: 50%;
}