<ion-card>
  <ion-card-header>
      <img *ngIf="!weapon.image" src="\assets\user.png" />
      <img *ngIf="weapon.image" alt="Weapon image" [src]="weapon.image" />
    <ion-card-title>{{weapon.name}}, {{weapon.type}}</ion-card-title>
    <ion-card-subtitle>Damage: {{weapon.damage}}/100</ion-card-subtitle>
    <ion-card-subtitle>Accuracy: {{weapon.accuracy}}/100</ion-card-subtitle>
    <ion-card-subtitle>Range: {{weapon.range}}/100</ion-card-subtitle>
    <ion-card-subtitle>Cadence: {{weapon.cadence}}/100</ion-card-subtitle>
    <ion-card-subtitle>Mobility: {{weapon.mobility}}/100</ion-card-subtitle>
    <ion-button icon-only fill="clear" (click)="onEditClick()"><ion-icon style="zoom:1.5" name="pencil-sharp"></ion-icon></ion-button>
    <ion-button icon-only fill="clear" color="danger" (click)="onDeleteClick()"><ion-icon style="zoom:1.5" name="close-sharp"></ion-icon></ion-button>
  </ion-card-header>
</ion-card>