<ion-card [ngStyle]="{background: '#2f3632'}">
  <ion-card-header [translucent]="true">
      <img *ngIf="weaponData.image" alt="Weapon image" [src]="weaponData.image" />
    <ion-card-title>{{weaponData.name}}, {{weaponData.type}}</ion-card-title>
    <ion-card-subtitle>{{ 'weapons.damage' | translate }}: {{weaponData.damage}}/100</ion-card-subtitle>
    <ion-card-subtitle>{{ 'weapons.accuracy' | translate }}: {{weaponData.accuracy}}/100</ion-card-subtitle>
    <ion-card-subtitle>{{ 'weapons.range' | translate }}: {{weaponData.range}}/100</ion-card-subtitle>
    <ion-card-subtitle>{{ 'weapons.cadence' | translate }}: {{weaponData.cadence}}/100</ion-card-subtitle>
    <ion-card-subtitle>{{ 'weapons.mobility' | translate }}: {{weaponData.mobility}}/100</ion-card-subtitle>
    <audio controls [ngStyle]="{color: '#2f3632'}" ><source src="{{sound}}" type="audio/ogg">  </audio>
    <ion-button icon-only fill="clear" (click)="onEditClick()"><ion-icon style="zoom:1.5" name="pencil-sharp"></ion-icon></ion-button>
    <ion-button icon-only fill="clear" color="danger" (click)="onDeleteClick()"><ion-icon style="zoom:1.5" name="close-sharp"></ion-icon></ion-button>
  </ion-card-header>
</ion-card>