<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ 'accessory-detail.title' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onDismiss()" >{{ 'accessory-detail.close' | translate}}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()">
    <ion-item>
      <ion-label position="floating"  >
        {{ 'accessory-detail.name' | translate | titlecase}}
      </ion-label>
      <ion-input type="text" placeholder="{{'accessory-detail.textName' | translate}}" formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" >
        {{ 'accessory-detail.type' | translate | titlecase}}
      </ion-label>
      <ion-input type="text" placeholder="{{'accessory-detail.textType' | translate}}" formControlName="type"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" >
        {{ 'accessory-detail.damage' | translate | titlecase}}
      </ion-label>
      <ion-input type="text" placeholder="{{'accessory-detail.textDamage' | translate}}" formControlName="damage"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" >
        {{ 'accessory-detail.accuracy' | translate | titlecase}}
      </ion-label>
      <ion-input type="text" placeholder="{{'accessory-detail.textAccuracy' | translate}}" formControlName="accuracy"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" >
        {{ 'accessory-detail.range' | translate | titlecase}}
      </ion-label>
      <ion-input type="text" placeholder="{{'accessory-detail.textRange' | translate}}" formControlName="range"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" >
        {{ 'accessory-detail.cadence' | translate | titlecase}}
      </ion-label>
      <ion-input type="text" placeholder="{{'accessory-detail.textCadence' | translate}}" formControlName="cadence"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" >
        {{ 'accessory-detail.mobility' | translate | titlecase}}
      </ion-label>
      <ion-input type="text" placeholder="{{'accessory-detail.textMobility' | translate}}" formControlName="mobility"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" >
        {{ 'accessory-detail.url' | translate }}
      </ion-label>
      <ion-input type="text" placeholder="{{'accessory-detail.textUrl' | translate}}" formControlName="image"></ion-input>
    </ion-item>
    
    <ion-button color="success" [disabled]="!form.valid" type="submit">{{mode=="Edit"?['accessory-detail.btn_update' | translate]:['accessory-detail.btn_add' | translate]}}</ion-button>
  </form>
</ion-content>

