ion-content{
    position: relative;
    margin: 0;
    --background: url("../../../assets/greenBackImg.jpg");
}

ion-toolbar{
    --background: #000000bc;
    color: rgba(255, 255, 255, 0.892);
}


::selection { 
    background: #3bbc08ed;
    color:#fff;
}

ion-row, ion-title{
    color: #fff;
}
