<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start" defaultHref="/">Home</ion-back-button>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-title>{{ 'about.title' | translate }}</ion-title>
    <ion-row>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum nam earum magnam sapiente. Reiciendis optio dolorum commodi maiores similique asperiores quia, quas, aut numquam, rem earum animi? Error, odio amet?
    </ion-row>
  </ion-grid>
</ion-content>
