<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ 'home.tabName' | translate | titlecase}}
    </ion-title>
    <ion-button color="success" (click)="openAbout()" slot="end"><ion-icon
        name="help-circle-outline"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="translate">
    <ion-label translate>Change Language</ion-label>
    <ion-select [(ngModel)]='language' (ionChange)='languageChange()'
      [placeholder]='"home.languageChangePlaceholder" | translate'>Chan
      <ion-select-option value='es'>Español</ion-select-option>
      <ion-select-option value='en'>English</ion-select-option>
    </ion-select>
  </div>

  <video src="assets/greenBack.mp4" autoplay="true" muted="true" id="myVideo"></video>
  <!-- loop="true"-->

  <div id="container">

    <p translate [translateParams]="{ lang: language }">home.content</p>
    <a title="Aquí ponemos el título de la foto">
      <img class="zoom" id="img-weapon" (click)="openWeapon()" src="assets/guns.jfif" alt="Armas" width="300"
        height="203" />
      <img class="zoom" id="img-charger" (click)="openAccessory()" src="assets/cargadores.jpg" alt="cargadores"
        width="300" height="203" />
      <img class="zoom" id="img-const" (click)="openConstruct()" src="assets/ark7.webp" alt="cargadores" width="300"
        height="203" />
    </a>
  </div>
</ion-content>