ion-content{
  position: relative;
  margin: 0;
  --background: rgba(0, 0, 0, 0.828);
}

video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 105%;
  min-height: 100%;
  transform: translateX(calc((100% - 100vw) / 2));
  z-index: -2;
}

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

#myVideo{
  width: 100%;
}

ion-toolbar{
  --background: #3fb90ee5;
  color: rgb(0, 0, 0);
}

ion-content {
  position: relative;
  margin: 0;
}
.sect {
  width: 100%;
  min-height: 500px;
}
h1 {
  margin: 0;
  padding-top: 3rem;
  padding-left: 2rem;
}
h2 {
  margin: 0;
  padding-top: 3rem;
  padding-left: 2rem;
}

#img-weapon{
  padding: 10px;
  height: auto;
}
#img-charger{
  padding: 10px;
}
#img-const{
  padding: 10px;
}

::selection { 
  background: #3bbc08ed; 
  color:#fff;
}

.zoom {
  transition: transform .3s; 
}

.zoom:hover {
  transform: scale(1.1); 
}

ion-button{
  margin-right: 20px;
}

ion-item-native,
ion-select,
ion-list,
ion-item,
ion-content,
ion-select,
ion-select-option{
  --background: #3b3c44;
  background-color: #3e3e44;
  color: #42c11f;
  --placeholder-color: #42c11f;
  --placeholder-opacity: 1 !important;
}

ion-select {
  width: 180px;
}

