<ion-card [ngStyle]="{background: '#2f3632'}">
  <ion-card-header [translucent]="true">
      <img *ngIf="!accessory.image" src="\assets\user.png" />
      <img *ngIf="accessory.image" alt="Accessory image" [src]="accessory.image" />
    <ion-card-title>{{accessory.name}}, {{accessory.type}}</ion-card-title>
    <ion-card-subtitle>{{ 'accessories.damage' | translate }}: {{accessory.damage}}/10</ion-card-subtitle>
    <ion-card-subtitle>{{ 'accessories.accuracy' | translate }}: {{accessory.accuracy}}/10</ion-card-subtitle>
    <ion-card-subtitle>{{ 'accessories.range' | translate }}: {{accessory.range}}/10</ion-card-subtitle>
    <ion-card-subtitle>{{ 'accessories.cadence' | translate }}: {{accessory.cadence}}/10</ion-card-subtitle>
    <ion-card-subtitle>{{ 'accessories.mobility' | translate }}: {{accessory.mobility}}/10</ion-card-subtitle>
    <ion-button icon-only fill="clear" (click)="onEditClick()"><ion-icon style="zoom:1.5" name="pencil-sharp"></ion-icon></ion-button>
    <ion-button color="danger" icon-only fill="clear" (click)="onDeleteClick()"><ion-icon style="zoom:1.5" name="close-sharp"></ion-icon></ion-button>
  </ion-card-header>
</ion-card>